body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.profile {
    width: 200px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#section1 {
    position: absolute;
    overflow: hidden;
    height: 800px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.83;
    background: #3aafc7;
    display: table;
    width: 100%;
    z-index: 9;
    height: 100%;
}

h1 {
    font-size: 40px;
    font-family: inherit;
    line-height: 1.2;
    font-weight: 300;
}

h2 {
    font-size: 30px;
    font-family: inherit;
    line-height: 1.2;
    font-weight: 300;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 20px;
    line-height: 1.3;
}

#section2 {
    padding: 50px text-align:center;

}

.div {
    display: table-cell;
    position: relative text-align:center;
    vertical-align: middle;

}

.lists {
    z-index: 10;
    list-style: none;
    font-family: monospace;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 30px;
}

.links {
    float: left;
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: gold;
    font-size: 25px;
}

.links:hover {
    background-color: blue;
}

html {
    scroll-behavior: smooth;
}

.article:hover {
    color: darkolivegreen;

}

a {
    text-decoration: none;
}
